html,body,main,section,ul,ol,li,p,a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  height: 88px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: #ffffff;
  font-size: 24px;
}

.store_name {
  padding-top: 32px;
  padding-bottom: 32px;
}

ul {
  padding-left:0;
  display: flex;
}

li{
  list-style:none;
}

#nav-pc {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding {
  padding-right: 48px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.main {
  width: 100%;
}

.pickup {
  color: #EC306A;
  font-size: 32px;
}

section {
  width: 1200px;
  margin: 0 auto;
}

/* 追加 */
.about {
  padding-top: 80px;
}

.topics {
  background-color: #FFF0F9;
  /* 追加 */
  padding-bottom: 72px;
}

div {
  display: flex;
}

.explain {
  font-size: 16px;
  line-height:1.8em;
}

.span1 {
  padding-right: 56px;
}

.span2 {
  padding-right: 24px;
}



.img_about {
  width: 544px;
}

.img_bnr {
  width: 588px;
}

.text {
  font-size: 24px;
  color: #EC306A;
  /* 追加 */
  margin: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}

.color {
  color: #000;
}

.access {
  display: block;
}

iframe {
  width: 550px;
  padding-bottom: 100px;
  padding-right: 48px;
}

.address {
  font-size: 20px;
  padding-bottom: 24px;
}

.station {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 16px;
}

.directions {
  font-size: 16px;
}

footer {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #222222;
  color: #ffffff;
  font-size: 24px;
}

.store_name_footer {
  padding-top: 48px;
}

#nav-pc-footer {
  word-spacing: 48px;
  padding-top: 48px;
}

.copyright {
  font-size: 12px;
  display: block;
  text-align: center;
  padding-top: 140px;
}

.footer-inner {
  display: flax;
  justify-content: space-between;
}